<!doctype html>
<html lang="{{locale}}">
<head>
    <title>I Have A Secret</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='spy-line.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='zxcvbn.js') }}" defer></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{url_for('ihaveasecret.index')}}">
                <i class="ri-spy-line"></i>&nbsp;I Have A Secret
            </a>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong><a target="_blank" href="https://github.com/jrialland/ihaveasecret">Ihaveasecret</a></strong> © 2024-{{current_year}} <a target="_blank" href="https://github.com/jrialland">jrialland</a>.
            </p>
        </div>
    </footer>
</body>
</html>