{% extends "base.html" %}

{% block content %}

    <h1 class="title"><i class="ri-lock-password-line"></i>&nbsp;Check password</h1>

    <div class="notification is-info">
        <p><i class="ri-information-line"></i>{{ gettext('The secret is safeguarded by a password. Please enter the password to unveil the secret.') }}</p>
    </div>

    {% if error %}
        <div class="notification is-danger">
            <p><i class="ri-error-warning-line"></i>{{ error }}</p>
        </div>
    {% endif %}

    {% if remaining_attempts %}
    <div class="notification is-warning">
            <p>
                <i class="ri-error-warning-line"></i>
                {% if remaining_attempts == 1 %}
                    <strong>{{ gettext('You have one remaining attempt left.') }}</strong>
                {% else %}
                    {{ gettext('You have %(n)d remaining attempts left.', n=remaining_attempts) }}
                {% endif %}
            </p>
    </div>
    {% endif %}

    <form method="post" action="{{ url_for('ihaveasecret.check_password', message_key=message_key) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" name="password" placeholder="{{ gettext('Your secret password') }}" autocomplete="current-password">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary">Check</button>
            </div>
        </div>
    </form>

{% endblock %}