{% extends "base.html" %}

{% block content %}
    <h1 class="title"><i class="ri-mail-check-line"></i>&nbsp;{% trans %}Read a secret{% endtrans %}</h1>


    <div class="notification is-info">
        <p><i class="ri-information-line"></i>&nbsp;{% trans %}This message is displayed only once and will not be available if this page is reloaded.{% endtrans %}</p>
    </div>

    {%if note %}
    <p class="help">{% trans %}Note from the author of the message : {% endtrans %}</p>
    <div class="notification is-primary">
        <pre>
            {{ note }}
        </pre>
    </div>
    {% endif %}

    <div class="notification is-primary">
        <pre>
            {{ secret_text }}
        </pre>
    </div>

    <a href="{{ url_for('ihaveasecret.create') }}" class="button is-primary">{% trans %}Create another secret{% endtrans %}</a>
    
{% endblock %}
